##### COMMON IMPORTS

In [1]:
import os
import sys
import asyncio

import pandas as pd


PROJECT_ROOT = os.path.abspath(os.path.join(os.getcwd(), "..", "..",".."))
if PROJECT_ROOT not in sys.path:
    sys.path.insert(0, PROJECT_ROOT)
    
from app.models.enum_helpers import PlatformEnum, SecurityTypeEnum, SecurityStatusEnum, FutureTypeEnum

### INITIAL WORK

In [2]:
from app.db.domain import get_current_database

await get_current_database()

'moex_initial_db'

In [3]:
from app.db.domain import get_all_databases_df
await get_all_databases_df()

                      database_name
0                          bybit_db
1                  bybit_initial_db
2                    moex_backup_db
3                           moex_db
4                   moex_initial_db
5                          postgres
6                        sandbox_db
7              trading_framework_db
8   trading_framework_production_db
9      trading_framework_sandbox_db
10        trading_framework_test_db

In [4]:
from app.db.domain import get_database_count
await get_database_count()

11

In [5]:
from app.db.domain import get_databases_with_size_mb
await get_databases_with_size_mb()

                      database_name size_mb
0                        sandbox_db    7.55
1                   moex_initial_db    7.54
2                          postgres    7.34
3         trading_framework_test_db    7.19
4   trading_framework_production_db    7.19
5                  bybit_initial_db    7.19
6                          bybit_db    7.19
7                           moex_db    7.19
8                    moex_backup_db    7.19
9              trading_framework_db    7.19
10     trading_framework_sandbox_db    7.19

##### INITIAL CREATE ALL TABLES

In [12]:
from app.db.domain import create_tables

# await create_tables()

##### DROP ALL TABLES

In [7]:
from app.db.domain import drop_tables

# await drop_tables()

##### CHECKING EXISTING TABLES IN DB

In [13]:
from app.db.domain import get_tables_df

platform = PlatformEnum.MOEX
security_type = SecurityTypeEnum.FUTURE
status = SecurityStatusEnum.ACTIVE


await get_tables_df()

           table_name
0  historical_candles
1          securities

In [9]:
from app.db.domain import drop_tables_by_name

drop_list = ["historical_candles",]

await drop_tables_by_name(drop_list)